body{
  width: 1000px;
  background-color: rgba(215,211, 202, 0.5);
  margin: auto;
  font-family: 'Boogaloo', cursive;
}
  #header{
    text-align: center;
  }
  img{
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 2px 4px;
  }
  #ingredients{
    background-color: rgba(215,211, 202, 0.9);
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow: 2px 4px;
    padding: 15px;
    margin: 10px;
  }
  #directions{
    background-color: rgba(215,211, 202, 0.9);
    font-size: 1.3em;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 2px 4px;
    padding: 15px;
    margin: 10px;

  }

  #EditorsNotes{
    background-color: rgba(215,211, 202, 0.9);
    font-size: 1.3em;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 2px 4px;
    padding: 15px;
    margin: 10px;
  }

  #tip{
    background-color: rgba(215,211, 202, 0.9);
    font-size: 1.1em;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    box-shadow: 2px 4px;
    padding: 15px;
    margin: 10px;

  }
  #footer{
    padding: 15px;
    text-align: center;
  }

  h1{
    font-family:'Merienda One', cursive;
  }
  h2{
  font-family: 'Oleo Script', cursive;
}
