
p {
  border: .3em solid rgba(212,123,143,0.4);
  margin: .2em;
  padding: .1em;
}

.inline, .block, .inline-block {
  border: .3em solid black;
  margin: .2em;
  padding: .1em;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
