/*This style sheet is for the screens that their wide is between  426px and 769px*/
body {
  width: 94%;
}

h2 {
  border-bottom: 2px solid black;
  width: fit-content;
  padding-left: 0;
  margin-left: 1em;
}

.me {
  margin: 2em 0;
}

#links {
  display: inline-block;
  margin: 0 auto;
}

#extra_small p img {
  width: 20vh;
  height: 22vh;
  position: absolute;
  right: 3em;
  top: 9em;
}

.justimages {
  display: none;
}

.linkandimages {
  display: block;
}

a {
  text-decoration: none;
  color: dimgray;
}
