body{
  background-color: #EEEFEE;
  font-family: Helvetica;

}

#personal{
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  height: 270px;
}
.personal1{
  float: left;
}
.personal2{
position:sticky;
padding-top: 50px;
padding-left: 800px;
}
.name{
  color:#BEAC8C;
}
a{
  color:#BEAC8C;
}
a:hover{
  color:#3E486A;
}
h1{
  color:#3E486A;
  text-align: center;
  text-decoration: underline;
}
h2 {
  color:#778BA9;
  font-family: 'EB Garamond';
}
img{
  border: 2px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 2px #778BA9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.education{
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#qualification{
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#languages{
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#knowledge{
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  padding-left: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
