body {
  background-color: #EEEFEE;
  font-family: Helvetica;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}

#knowledge, #languages, #qualification, #personal, #header, .education {
  padding-bottom: 1em;
  border: 1px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 1px #778BA9;
  margin-bottom: 1em;
  padding-left: 1em;
}

#header {
  padding-left: 2em;
  width: 57em;
}

#personal {
  padding-right: 1em;
  position:absolute;
  top:7.1em;
  left: 33.3em;
}

#qualification {
  padding-left: 2em;
  position: absolute;
  top: 64.3em;
  left: 33.3em;
  width: 23.7em;
}

#languages {
  padding-left: 2em;
  width: 30em;
}

#knowledge {
  padding-right: 8.6em;
  position: absolute;
  top:27.3em;
  left: 33.3em;
}

.educationallevel, .jobtitle {
  padding-left: 60px;
}

.education {
  padding-right: 1em;
  width:30em;
}

.name {
  color:#BEAC8C;
}

a {
  color:#BEAC8C;
}

a:hover {
  color:#3E486A;
}

h1 {
  color:#3E486A;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color:#778BA9;
  font-family: 'EB Garamond';
}

img {
  border: 2px solid #3E486A;
  border-radius: 10px;
  box-shadow: 2px 4px 2px #778BA9;
  display: inline-block;
  width: 6em;
  height: 8em;
  position: absolute;
  top:7.7em;
  left:51.8em;
}
